body,
.theme-logo-bg {
    background: #202123;
}

.logo.theme-logo-bg a {
    color: #fff;
}

.side-navigation li a,
.side-navigation .child-list>li>a {
    color: #fff;
}


/*--header--*/

.header-section.light-color .mega-menu ul.nav>li>a,
.header-section.light-color a.toggle-btn,
.header-section.light-color .sb-toggle-right,
.header-section.light-color ul.notification-menu>li>a {
    color: #fff;
}

.header-section.light-color a.toggle-btn:hover,
.header-section.light-color .mega-menu ul>li>a:hover,
.mega-menu ul>li>a:focus,
.header-section.light-color .notification-menu .dropdown-toggle:hover,
.header-section.light-color .notification-menu .dropdown-toggle:focus,
.header-section.light-color .sb-toggle-right:hover,
.header-section.light-color .notification-menu .open .dropdown-toggle.dropdown-toggle,
.header-section.light-color .notification-menu .dropdown-toggle:active,
.header-section.light-color .mega-menu .nav .open>a {
    background: rgba(255, 255, 255, .1) !important;
}

.header-section.light-color .notification-menu .dropdown-toggle:hover,
.header-section.light-color .notification-menu .dropdown-toggle:focus,
.header-section.light-color .sb-toggle-right:hover,
.header-section.light-color .notification-menu .open .dropdown-toggle.dropdown-toggle,
.header-section.light-color .notification-menu .dropdown-toggle:active {
    color: #fff;
}


/*----*/

.sidebar-left .nav > li > a:hover,
.sidebar-left .nav > li > a:focus,
.side-navigation > li.active > a,
.side-navigation > li.active > a:hover,
.side-navigation > li.active > a:focus,
.side-navigation > li.menu-list > a:hover,
.side-navigation > li.nav-active > a,
.side-navigation .child-list,
.sidebar-collapsed .side-navigation > li.nav-hover > a,
.sidebar-collapsed .side-navigation > li.nav-hover.active > a,
.sidebar-collapsed .side-navigation li.nav-hover.active a span,
.sidebar-collapsed .side-navigation li a span,
.sidebar-collapsed .side-navigation li.nav-hover ul,
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #227521;
}

.side-navigation>li.active>a,
.side-navigation>li.active>a:hover,
.side-navigation>li.active>a:focus,
.side-navigation .child-list>li>a:hover,
.side-navigation .child-list>li>a:active,
.side-navigation .child-list>li>a:focus,

/*.mega-menu ul li ul li a:hover,*/

.weather-widget .weather-info .degree,
.weather-widget .weather-info .degree:after,
.side-navigation>li.nav-active>a,
.side-navigation>li>a:hover,
.side-navigation>li>a:active,
.side-navigation>li.nav-active>a:after,
.sidebar-collapsed .side-navigation>li.nav-hover>a,
.sidebar-collapsed .side-navigation>li.nav-hover.active>a,
.sidebar-collapsed .side-navigation li.nav-hover.active a span,
.sidebar-collapsed .side-navigation li a span,
.sidebar-collapsed .side-navigation li.nav-hover a span {
    color: #fff;
}

.r-close-btn:hover {
    background: #000000;
}

.side-navigation .child-list>li>a:hover,
.side-navigation .child-list>li>a:active,
.side-navigation .child-list>li>a:focus,
.sidebar-collapsed .side-navigation ul a:hover {
    background: rgba(255, 255, 255, 0.04);
}

.navigation-title {
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.sidebar-widget {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.sidebar-widget h4,
.sidebar-widget p {
    color: #fff;
}
