
/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {

    body {
        position: relative;
    }

    .sidebar-left {
        display: none;
    }

    .body-content {
        margin-left: 0;
        width: 100%;
    }

    .sidebar-collapsed .sidebar-left {
        display: none;
    }

    .sidebar-collapsed .body-content {
        margin-left: 0;
    }

    .sidebar-collapsed .header-section {
        margin-left: 0;
    }

    .sidebar-open section {
        overflow-x: hidden;
    }

    .sidebar-open .sidebar-left {
        display: block;
    }

    .sidebar-open .body-content {
        margin-left: 240px;
    }

    .btn-demo {
        margin-bottom: 20px;
    }

    .left-sideinner {
        padding: 5px 10px;
    }

    .left-sideinner .search-content input {
        background: #fff;
        border: 0;
    }

    .sticky-header .header-section {
        left: 0;
    }

    .sticky-header.sidebar-open .header-section {
        left: 240px;
    }

    .sticky-header .right-notification {
        margin-right: 0px;
    }

    .non-sticky-header .sidebar-left-info {
        margin-top: 60px;
    }

    .non-sticky-header  .side-navigation {
        margin-top: 0px;
    }

    .non-sticky-header .sidebar-left .search-content {
        margin-top: 60px;
    }


    .sticky-sidebar  {
        position: absolute;
    }


    .wide-full {
        width: auto;
    }

    .gallery li{
        width: 45%;
    }

}


@media screen and (max-width: 767px) {

    .search-content {
        position: relative;
    }

    .search-content input {
        background:#fff;
    }

    .sidebar-left .search-content  {
        display: block;
    }

    .breadcrumb-wrapper, .search-content {
        display: none;
    }

    .mail-box aside {
        display: block;
    }

    .mail-box .sm-side , .mail-box .lg-side, .profile-desk .p-aside, .profile-desk .p-short-info{
        width: 100% ;
        display: inline-block;
    }

    .profile-timeline ul li .avatar-desk .gallery a {
        margin-bottom: 10px;
    }

    .profile-follow, .profile-value-info {
        text-align: center;
        position: static;
        margin-bottom: 10px;
    }

    .profile-intro {
        padding: 20px 0;
    }

    .fb-timeliner {
        display: none;
    }

    .compose-mail .compose-options {
        top: 26px;
    }

    /* full calendar fix */
    .fc-header-right {
        right:15px;
        position: absolute;
    }

    .fc-header-left .fc-button {
        margin: 0px !important;
        top: 0px !important;
    }

    .fc-header-right .fc-button {
        margin: 0px !important;
        top: -50px !important;
    }

    .fc-state-active, .fc-state-active .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner {
        background: none !important;
        color: #FFFFFF !important;
    }

    .fc-state-default, .fc-state-default .fc-button-inner {
        background: none !important;
    }

    .fc-button {
        border: none !important;
        margin-right: 2px;
    }

    .fc-view {
        top: 0px !important;
    }

    .fc-button .fc-button-inner {
        margin: 0px !important;
        padding: 2px !important;
        border: none !important;
        margin-right: 2px !important;
        background-color: #fafafa !important;
        background-image: -moz-linear-gradient(top, #f2f2f2, #f2f2f2) !important;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#f2f2f2)) !important;
        background-image: -webkit-linear-gradient(top, #f2f2f2, #f2f2f2) !important;
        background-image: -o-linear-gradient(top, #f2f2f2, #f2f2f2) !important;
        background-image: linear-gradient(to bottom, #f2f2f2, #f2f2f2) !important;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#f2f2f2', GradientType=0) !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        color: #fff !important;
        border: none !important;
        text-shadow: none !important;
        text-align: center;
    }

    .fc-button.fc-state-disabled .fc-button-inner,
    .fc-header-left .fc-button .fc-button-inner{
        color: #bcbbbb !important;
    }

    .fc-button.fc-state-active .fc-button-inner {
        background-color: #e5e4e4 !important;
        background-image: -moz-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e4e4), to(#dddcdc)) !important;
        background-image: -webkit-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: -o-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: linear-gradient(to bottom, #e5e4e4, #dddcdc) !important;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e5e4e4', endColorstr='#dddcdc', GradientType=0) !important;
    }

    .fc-content {
        margin-top: 50px;
    }

    .fc-header-title h2 {
        line-height: 40px !important;
        font-size: 15px !important;
    }

    .fc-header {
        margin-bottom:0px !important;
    }

    .fc-header-left, .fc-header-center, .fc-header-right {
        width: 100%;
        display: block;
    }

    .fc-header-title h2 {
        margin-top: -35px;
    }


    .fc-header-right .fc-state-default .fc-button-inner,
    .fc-header-left .fc-state-default:hover .fc-button-inner{
        background: #53D192 !important;
        border-color: #53D192;
        border-style: none solid;
        color: #fff!important;
    }


    .fc-header-right .fc-state-default .fc-button-inner:hover,
    .fc-header-right .fc-state-active  .fc-button-inner{
        background: #2f9f67 !important;
        border-color: #2f9f67;
        border-style: none solid;
        color: #fff;
    }

    .mail-box aside {
        height: auto;
    }

    .gallery {
        margin: 0;
    }
    .gallery li{
        width: 100%;
        margin: 0 0 20px 0;
    }

}

@media screen and (max-width: 640px) {

    .compose-mail .compose-options {
        top: 26px;
    }

}

@media screen and (max-width: 480px) {

    .compose-mail .compose-options {
        top: 26px;
    }
}


@media only screen and  (max-width: 479px) {
    .state-information {
        display: inline-block;
        margin-top: 20px;
        position: static;
        width: 100%;
    }
    .state-information .state-graph {
        float: left;
        margin-left: 0;
        margin-right: 30px;
        text-align: center;
    }

    .notification-menu li:nth-child(2) .dropdown-menu {
        margin-right: 0px !important;
    }
    .notification-menu .dropdown-title {
        min-width: 265px;
        padding: 0;
    }
    .error-wrapper .icon-404,
    .error-wrapper .icon-500 {
        width: 100%;
    }

    .error-wrapper .icon-404 {
        margin: 0;
    }

    .body-500 .error-wrapper h2 {
        margin: -5px 0 30px -6px;
    }

    .login-social-link a.facebook {
        margin-right: 20px;
    }
    .mail-box aside {
        display: block;
    }

    .mail-box .sm-side , .mail-box .lg-side, .profile-desk .p-aside, .profile-desk .p-short-info{
        width: 100% ;
        display: inline-block;
    }

    .profile-timeline ul li .avatar-desk .gallery a {
        margin-bottom: 10px;
    }

    .profile-follow, .profile-value-info {
        text-align: center;
        position: static;
    }

    .profile-intro {
        padding: 20px 0;
    }

    .notification-menu .info-number {
        padding: 0px 10px;
    }

    .team-list li a {
        text-align: center;
    }

    .fc-header-title h2 {
        margin-top: -35px;
    }

    button.btn {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 360px) {



    .notification-menu li:first-child .dropdown-menu {
        margin-right: -90px;
    }

    .notification-menu li:nth-child(2) .dropdown-menu {
        margin-right: -45px;
    }

    .notification-menu li:nth-child(3) .dropdown-menu {
        margin-right: 0px;
    }

    .nav-tabs.nav-justified.nav-profile > li {
        float: none;
        display: block;
        width: auto;
    }

    .d-none {
        display: none;
    }



}

@media screen and (max-width: 320px) {

    .d-none {
        display: none;
    }

}
@media screen and (max-width: 770px) and (min-width: 220px)  {
   .navbar-nav {
       margin: -45.5px -15px;
    }
    .collapse {
	display: block;
}
}
